@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top,#f7ae12,rgb(0, 0, 0, 0.678));
    }

    
    section#login {
        width: 700px;
        height: 350px;
               
    }

    section#login > div#imagem {
        float: left;
            background-size: cover;
            height: 350px;            
            width: 410px;        
        
    }
    
    section#login > div#formulario {
        float: left;
        width: 40%;
        
    }
}

@media screen and (min-width: 992px) {

    body {
        background-image: linear-gradient(to top,#f7ae12,rgba(0, 0, 0, 0.678));
    }

    section#login {
        width: 1000px;
        
    }

    section#login > div#imagem {
        float: left;
        width: 60%;
        height: 500px;
       
        
                
    }

    section#login > div#formulario {
        float: left;
        width:40%;    
        
    }

    div#formulario > h1 {
        font-size: 2em;
    }

    div#formulario > p {
        font-size: 1.2em;
    }
}